<div class="row mb-1 mr-0  custon-border">
    <div class="col-md-2 custom-borde-right p-1 mb-1 mt-1">
            <img src="assets/product.png" width="100px" height="100px">
        </div>
        <div class="col-md-3 custom-borde-right mb-1 mt-1">
            <div class="col">
                <div class="row">
                 <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                 <div class="col-md-10">nom</div>
          </div>
         <div class="row">
            <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
            <div class="col-md-10">prenom</div>
     </div>
     <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-10">6 56 31 16 96</div>
    </div>
       </div>
       </div>
       <div class="col-md-3 custom-borde-right mb-1 mt-1">
        <div class="col">
            <div class="row">
             <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
             <div class="col-md-10">adresse1 adresse2</div>
      </div>
     <div class="row">
        <div class="col-md-1"><i class="fas fa-map-marker-alt blue-color"></i></div>
        <div class="col-md-10">12345 ville</div>
 </div>
 <div class="row">
    <div class="col-md-1"><i class="fas fa-globe-europe blue-color"></i></div>
    <div class="col-md-10">pays</div>
</div>
   </div>
        </div>

        <div class="col-md-4 mb-1 mt-1">
        <div class="row">
       <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-pencil-alt">&nbsp;</i>Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-trash-alt">&nbsp;</i>Supprimer 
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link ">
                    <i class="fas fa-list-alt">&nbsp;</i>Details
                </button>
            </div>
         </div>
      </div>
    </div> 

