<div class="row mb-1 mr-0 custon-border">
        <div class="col-md-3 custom-borde-right mb-1 mt-1">
    
                <div class="row">
         
                 <div class="col-md-11">12.12.2022</div>
          </div>
        </div>
   
       <div class="col-md-3 custom-borde-right mb-1 mt-1">
        <div class="row text-center">
            <div class="col-md-12">
                <h5>139</h5>
            </div>
           </div>
            </div>
            <div class="col-md-3 custom-borde-right mb-1 mt-1">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h5>sortie</h5>
                    </div>
                   </div>
                    </div>
       <div class="col-md-3 mb-1 nt-1">
        <div class="row">
            <h5 class="mycenter"> Commande-Client </h5>
                
       </div>
    </div>
</div>
