<div class="container my-container">
    <div class="card justify-content-md-center">
        <div class="card-header text-center">
            <h3> S'inscrire</h3> 
          </div>
    <div class="card-body">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Nom">
          </div> 
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="code fiscal">
          </div> 
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="E-mail">
          </div> 
          <div class="mb-3">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="adresse 1">
          </div> 
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="adresse 2">
          </div> 
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="ville">
          </div> 
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="code postal">
          </div> 
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="pays">
          </div> 
          <div class="mb-3">
            <input type="password" class="form-control" placeholder="mot de passe">
          </div> 
          <div class="mb-3">
            <input type="password" class="form-control" placeholder="confirmer mot de passe">
          </div> 
          <div class="mb-3">
        <div class="mb-3 d-flex justify-content-between">
            <a [routerLink]="['/login']" type="button" class="btn btn-link"> Se Connecter </a>
            <button type="button" class="btn btn-primary">
                <i class="fa-solid fa-check"></i>&nbsp; S'inscrire</button>
                </div>
          </div>
      </div>
    </div>
