<div class="col">
    <div class="row m-2">
        <div class="col-md-8 p-0">
            <h1 class="dakor">Liste des Categories</h1>
        </div>
        <div class="col-md-4 textab">
            <app-boutton-action
                (clickEvent)="nouvellecategory()">
            </app-boutton-action>
        </div>
    </div>
    <div class="col m-3">
       <div class="row custom-border mb-3 p-3">
<div class="col-md-3 custom-border-right">
    code categorie
</div>
<div class="col-md-3">
    Description categorie
</div>
       </div>
            </div>

            <div class="col m-3">
                <div class="row custom-border mb-3 p-3">
         <div class="col-md-3 custom-border-right">
             code categorie
         </div>
         <div class="col-md-3">
             Description categorie
         </div>
                </div>
                     </div>

                     <div class="col m-3">
                        <div class="row custom-border mb-3 p-3">
                 <div class="col-md-3 custom-border-right">
                     code categorie
                 </div>
                 <div class="col-md-3">
                     Description categorie
                 </div>
                        </div>
                             </div>
                             
                             <div class="col m-3">
                                <div class="row custom-border mb-3 p-3">
                         <div class="col-md-3 custom-border-right">
                             code categorie
                         </div>
                         <div class="col-md-3">
                             Description categorie
                         </div>
                                </div>
                                     </div>                     
            
        <div class="row mb-3">
            <div class="col-md-12 text-center">
                <app-pagination></app-pagination> 
            </div>
                </div>
    </div>
     
